.rootgrid {
	-fx-background-color: WHITE;
}

.vboxRoot {
	-fx-background-color: WHITE;
}

.dlgProgress {
	-fx-background-color: WHITE;
}

.dlgIssueCreated {
	-fx-background-color: WHITE;
}

.tab-pane {
	-fx-background-color: WHITE;
}

.tab {
	-fx-background-color: WHITE;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: WHITE;
}


.tab-pane .tab:selected .tab-label
{
    -fx-text-fill: BLUE;
 }

.tab-pane .tab-label {
	/*
	-fx-text-fill: BLUE;
	*/
}

.descriptionEditor {
}

.tbbuttons {
	-fx-background-color: WHITE;
}