.rootgrid {
	-fx-background-color: WHITE;
}

.vboxRoot {
	-fx-background-color: WHITE;
}

.dlgProgress {
	-fx-background-color: WHITE;
}

.scroll-pane > .viewport  { 
	-fx-background-color: WHITE;
	-fx-border-color: TRANSPARENT;
}

.tab-pane {
	-fx-background-color: WHITE;
}

.tab {
	-fx-background-color: WHITE;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: WHITE;
}

.tab-pane .tab:selected .tab-label
{
    -fx-text-fill: BLUE;
}

.descriptionEditor {
}

.tbbuttons {
	-fx-background-color: WHITE;
}

.tooltip {
    -fx-background: WHITE;
    -fx-text-fill: BLACK;
    -fx-background-color: WHITE;
    -fx-background-radius: 0px;
    -fx-background-insets: 0;
    -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
    -fx-font-size: 1.0em;
}

.smallImageButton {
  -fx-background-color:transparent;
  -fx-padding: 0;
}

.smallImageButton:hover {
  -fx-background-color:#dae7f3;
}


.scroll-bar .increment-button {
	-fx-padding: 6px;
}

.scroll-bar .decrement-button {
	-fx-padding: 6px;
}

/* http://stackoverflow.com/questions/37789184/increasing-scrollbar-width-does-not-increase-hitbox-of-the-increment-and-decreme
Does not work nice for short scroll bars. 
.scroll-bar > .increment-button, 
.scroll-bar > .decrement-button {
    -fx-padding: 6;
}
.scroll-bar .increment-arrow, 
.scroll-bar .decrement-arrow {
    -fx-pref-height: 8;
    -fx-pref-width: 8;
}
*/

/**
 * Used for tabs when sub-entries of properties are edited.
 */
.sub-prop-tab .tab:selected .tab-label {
	-fx-text-fill: CORAL;
	-fx-font-weight: bold;
}

/**
 * Buttons that finish editing sub-entries of properties. 
 */
.sub-prop-back {
	-fx-font-weight: bold; 
	-fx-text-fill: CORAL;
}