.root {
	-fx-background: WHITE;
	-fx-body-color: WHITE;
	-fx-shadow-highlight-color: WHITE;
	-fx-outer-border: WHITE;
	-fx-inner-border: WHITE;
	-fx-background-radius: 0;
	-fx-border-color: DARKGREY;
	-fx-hover-base: rgb(205, 230, 247);
	-fx-focused-edit-base: rgb(0, 114, 198);
	-fx-pressed-base: rgb(146, 192, 224);
	-fx-focused-button-base: rgb(146, 192, 224);
}

.button, .toggle-button, .radio-button>.radio, .check-box>.box,
	.menu-button, .split-menu-button, .choice-box, .color-picker.split-button>.color-picker-label,
	.combo-box-base, .text-field {
	-fx-background: WHITE;
	-fx-border-color: DARKGREY;
}

.combo-box-base:editable>.text-field, .date-picker>.text-field {
	-fx-border-color: WHITE;
}

.button:hover,
.toggle-button:hover,
.radio-button:hover > .radio,
.check-box:hover > .box,
.menu-button:hover,
.slider .thumb:hover,
.scroll-bar > .thumb:hover,
.scroll-bar > .increment-button:hover, 
.scroll-bar > .decrement-button:hover,
.choice-box:hover,
.color-picker.split-button > .arrow-button:hover,
.color-picker.split-button > .color-picker-label:hover,
.combo-box-base:editable > .arrow-button:hover,
.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover,
.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button:hover {
    -fx-background-color: -fx-hover-base;
    -fx-border-color: -fx-focused-button-base;
} 

.split-menu-button > .label:hover,
.split-menu-button > .arrow-button:hover {
    -fx-background-color: -fx-hover-base;
}

.text-field, .combo-box-base:editable {
	-fx-background-color: WHITE;
}

.button:focused,
.toggle-button:focused,
.radio-button:focused > .radio,
.check-box:focused > .box,
.menu-button:focused,
.slider .thumb:focused,
.scroll-bar > .thumb:focused,
.scroll-bar > .increment-button:focused, 
.scroll-bar > .decrement-button:focused,
.choice-box:focused,
.color-picker.split-button > .arrow-button:focused,
.color-picker.split-button > .color-picker-label:focused,
.combo-box-base:editable > .arrow-button:focused,
.spinner .increment-arrow-button:focused,
.spinner .decrement-arrow-button:focused,
.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button:focused {
	-fx-border-color: -fx-focused-button-base;
	-fx-background-radius: 0;
}
	
.text-field:focused, .combo-box-base:editable:focused {
	-fx-border-color: -fx-focused-edit-base;
	-fx-background-radius: 0;
}

.tooltip {
	-fx-background: WHITE;
	-fx-text-fill: BLACK;
	-fx-background-color: WHITE;
	-fx-background-radius: 0px;
	-fx-background-insets: 0;
	-fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0.0, 0, 3);
	-fx-font-size: 1.0em;
}