{
  "disallowImagesFromGravatar": false,
  "serviceDeskProjects": [
    "BPS"
  ],
  "version": 1,
  "serviceUrl": "https://wilutions.atlassian.net",
  "issueIdMailSubjectFormat": "(%1)",
  "injectIssueIdIntoMailSubject": false,
  "msgFileFormat": {
    "id": ".msg",
    "name": "Outlook (.msg)"
  },
  "logLevel": "INFO",
  "nbOfSuggestions": 20,
  "proxyServer": "",
  "proxyServerEnabled": false,
  "proxyServerPort": 0,
  "taskPanePosition": {
    "dockPosition": {
      "value": 2
    },
    "visible": false,
    "width": 514,
    "height": 680
  },
  "maxHistoryItems": 100,
  "licenseKey": "",
  "mailBodyConversion": "MARKUP",
  "mailBodyConversionTimeoutSeconds": 10,
  "autoReplyField": "",
  "exportAttachmentsProgram": "\"C:\\Windows\\explorer.exe\" \"${export.dir}\"",
  "extensionsAlwaysOpenAsText": ".exe.pif.application.gadget.msi.msp.com.scr.hta.cpl.msc.jar.scf.lnk.inf.reg.pl.bat.cmd.vb.vbs.js.jse.ws.wsf.wsc.wsh.ps1.ps1xml.ps2.ps2xml.psc1.psc2.msh.msh1.msh2.mshxml.msh1xml.msh2xml",
  "blacklist": [],
  "tempDirBase": "C:\\Users\\Wolfgang\\AppData\\Local\\Temp\\ITOL"
}